{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Home</title>
	<meta charset="utf-8">
	<meta name="viweport" content="width=device-width,initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="keywords" content="footer, address, phone, icons" />
	<link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
	<link rel="icon" type="text/css" href="{% static 'images/logo.png' %}">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  	<link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.min.css' %}">
	<script type="text/javascript" src="{% static 'js/a076d05399.js' %}"></script>
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
	<style type="text/css">
	 .bor
    {
      display: inline-block;
      width: 30%;
      height:auto;
      margin-top: 6%;
      margin-left: 33%;
      margin-right: 25%;
      border-radius:25px;
      box-shadow: 10px 10px 5px grey;
    }
    .bord 
    {
      display: inline-block;
      width: 45%;
      height: 600px;
      margin: 20px;
      margin-left: 25%;
      border-radius: 25px;
      box-shadow: 10px 10px 5px grey;
    }
	  	.border 
  	{
    	display: inline-block;
    	width: 45%;
    	height: 600px;
    	margin: 85px;
    	padding :20;
    	margin-left: 25%;
    	border-radius: 25px;
    	box-shadow: 10px 10px 5px grey;
  	}
	.banner-area
	{
    	position: relative;
    	text-align: center;
    	background-image: url({% static 'images/image.jpg' %});
    	width: 100%;
    	height: 100vh;
    	background-repeat: no-repeat;
    	background-size: cover;
	}
  .main {
    line-height: normal;
    font-size: auto;
  }
 
}
	</style>
</head>
<body style="background-color:#006994;">
  {% include 'ta/navbar.html' %}
  <hr>
<div style="margin-left:5%;margin-right:5%" class="text-white">
	<div class="clearfix" style=" border: 3px solid #4CAF50;padding: 5px;">
    <h1 style="margin-left:30%; color:cyan;text-shadow: 1px 2px grey;"><span style="font-size: 60px">Travels Booking</span></h1>
		<h2><b><u>Electronic Ticket</u></b></h2>
		<div class="dropdown pr-3" style="float: left;"><img src="{% static 'images/ETicketAirline.png' %}" style="float:left;" width="200" height="200">
			<div class="dropdown-content" style="float: left;">
				 <img src="{% static 'images/ETicketAirline.png' %}" style="float:left;" width="500" height="500">
			</div>
		</div>
<p class="text-white">An electronic ticket, often called e-ticket, is the digital ticket equivalent of a paper ticket. The term is most commonly associated with airline issued tickets. Electronic ticketing for urban or rail public transport is usually referred to as travel card or transit pass. It is also used in ticketing in the entertainment industry.
An electronic ticket system is a more efficient method of ticket entry, processing and marketing for companies in the airline, railways and other transport and entertainment industries.Checking in with an e-ticket
Passengers with e-tickets are required to check-in at the airport for a flight in the usual manner, except that they may be required to present an e-ticket itinerary receipt or personal identification, such as a passport, or credit card. They can also use the Record locator, often called booking reference, a code of six letters and digits. Producing a print-out of an e-ticket itinerary receipt may be required to enter the terminal of some airports or to satisfy immigration regulations in some countries.[citation needed]
The introduction of e-tickets has allowed for various enhancements to checking-in processes.</p>
<h3 class="text-white"><b><u>Bus Ticket Booking</u></b></h3>
<p class="text-white">An increase in bus booking in India with a better availability of bus tickets online than before is a travel trend to reckon with. India has the second largest road network in the world stretching to 56,03,293 km of road length which makes road travel all the more like it. Travelling by road is much more feasible especially for the routes and destinations with no air and train connectivity including far-flung villages and towns. Besides there are always people who prefer city to city bus trav<span id="dots">...<button onclick="myFunction()" id="myBtn" class="text-dark">show more</button></span><span id="more">el than booking flights for a relaxed journey at a lesser price. At Yatra, we make your online bus booking a smooth experience. Find and book buses operating on several routes including both state-run and privately owned fleet at competitive prices.Bus Ticket Booking with Yatra
To make online bus tickets booking visit the website and click on ‘Bus’ to avail the bus services by Yatra. Type in the departure and destination city, departure date and the number of seats and click on search. This will direct you to the page with the necessary details and you can click on select seats and choose from the available seats. After this you need to choose the boarding point and proceed to payment. The next page will ask you for your details like email id and phone number. Fill in the information and click on proceed to book. For instance, you type in ‘’ as your departure city and ‘’ as your destination, the next page will show you the list of buses plying on the mentioned date along with operator name, the type of bus, duration of the route, the number of seats available and a seat layout.

For further information before booking the , click on the ‘details’ right below each available bus providing you with cancellation policy mentioning the cancellation time and the refund provided. Do know that a partial bus cancellation is not permissible. Reserve your bus seat by choosing the preferred bus type and the price point with a choice of . Refine your search results further by adjusting and choosing the price range while making your bus ticket booking online or the bus type, amenities, boarding points, and dropping points during online bus booking<button onclick="myFunction()" id="myBtn" class="text-dark">show less</button><h3><b><u>Train Ticket Booking</u></b></h3>
<p>IRCTC is one of the busiest websites and by offering the same services on the Yatra platform, we achieved two objectives. Yatra was able to now offer a complete portfolio of travel options to its customers from flights, hotels, holiday packages, car rentals to train reservations. Secondly it gave customers a more seamless customer experience on its website, thus encouraging them to use the Yatra platform for train reservations.Yatra offers all facilities for train reservations including IRCTC login on its site, which means besides booking the ticket online, you can search for trains and their routes, train schedules, check for seat availability and train fares. You can also get your , view your tickets, print or cancel tickets on the Yatra website. Along with online train reservations, the IRCTC Tatkal service is also available on the Yatra platform.

Yatra offers a dedicated phone line and email id to handle customer queries, so customers can reach out to a Yatra executive in case of any booking issues or related queries.

Train reservation is available on Android, giving customers further ease of use. Yatra with its high-end technology services and the Yatra app, enables a seamless train booking experience for its customers. Besides payments on Yatra are secured and hassle free. It is no wonder more and more people are logging on to Yatra to book their train tickets.

IRCTC translating into Indian Railway Catering and Tourism Corporation is an offshoot of the , a platform where you can predominantly book your train tickets online aside from ordering your meals, plan your holidays, and book tourism packages.

IRCTC and what makes it the essence of Indian Railways
This subsidiary website of the Indian Railways churns out about 6 lakh bookings a day making it the second busiest website in the world. Not to mention, with a punchline like 'lifeline of the nation', you can't expect anything lesser. It all started with IRCTC opening up to online ticketing, cutting down the dependency on agents, middle-men, or the hassle of queuing up at a railway counter, and booking a quick ticket. With the advent of IRCTC, users have the luxury of time to browse trains of their liking, decide upon their budget, study the arrival and departure stations, and accordingly proceed with the booking. With the aid of an IRCTC login, users from across the country tap into Indian Railways wide network and browse for train availability, trains running between stations, subsequently going ahead to make an IRCTC online ticket booking.

IRCTC Train Booking
You can now on Yatra.com which has tied up with IRCTC to ensure a quick and easy railway booking. The platform makes it easy for you to complete the loop after you have booked your stay at a particular destination. Add to it, Yatra's expansive trains search console that makes zeroing on a train to your preferred destination a breeze. With elaborate filters to help you narrow down your train search, you end up saving a lot of time in making your IRCTC train booking.</p>
<div class=" col-md-6 col-lg-12 col-xs-15 column mb-4">
  <div class="mt-5">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="item active" >
          <img src="{% static 'images/bus.jpg' %}" alt="image not found" width="100%">
        </div>
        <div class="item">
          <img src="{% static 'images/tain.jpg' %}" alt="image not found" width="100%">     
        </div>
        <div class="item">
          <img src="{% static 'images/flight.jpg' %}" alt="image not found" width="100%">
        </div>
      </div>
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
           <span class="glyphicon glyphicon-chevron-right"></span>
           <span class="sr-only">Next</span>
        </a>
    </div>      
  </div>  
</div>

<h3><b><u>Book your Filght Tickets</u></b></h3><p>Buying your flight tickets and making your flight booking is the most critical part of planning a trip whether for business or leisure. An itinerary cannot be chalked out until you have sorted out your flights and hold a confirmed booking. Also, it is imperative that you begin your legwork on securing an air ticket the moment you have decided on your travel. Half the job is done and you feel a weight lifted once you have confirmed flight ticket booking in your hand. From looking up air connectivity between your starting and onward destination, finding flights at a timing that suits you, figuring out the layover airports in case of an international destination, to finding flights at a fare that suits your budget, it can be quite trying if you are in a hurry to book.

At Yatra.com, we have simplified the process of air ticket booking and scoring  by not only offering you an extremely user-friendly interface but some special perks too. Here are 11 reasons it is awesome to book your flights, whether domestic or international, with Yatra.

India's largest platform for business travel
If you travel rather frequently for business, sign up with Yatra and you can reap benefits like lowest airfares with free meals, zero reschedule fee, negotiated hotel price which comprises exclusive deals on hotels and low cancellation fee. Outside of that business travellers have access to a travel report that helps them track their savings and manage the expenses. More importantly, enjoy a quick and easy checkout with a centralised wallet and no reimbursement hassle.

Elaborate payment method
While making an online flight ticket booking if you are strapped for cash you can now go ahead and book your flight tickets with Yatra. Be it an international destination or domestic travel, don't let the lack of liquidity deter you. Choose from Yatra's extensive payment options which include the ubiquitous credit/debit card and netbanking aside from e-wallets of the likes of PayPal, Amazon Pay, Google Pay, Mobile Wallet among others. Though the most lucrative of them all is the EMI option that lets you choose between a 3 to a 6-month window with attractive  like no-interest EMI. The EMI option comes in particularly handy when you are booking an international flight and don't have the capital to spare. Another option is to make the payment through your accumulated reward points.

Hold now and pay later
On international flight bookings, if your research is not concluded yet over which airline to book and what tariff to settle for, you can always select of hold now and pay later. An airline specific feature, this lets you put your booking on hold for the next 24 hours by when you would have made up your mind over whether or not you want to go ahead with the booking. This option gives you greater flexibility to do a more thorough price compare across airlines and cross check the time taken by each and the amenities on-board.</p></span></p>
</div>
</div>

<!--
<div class="container mt-5">
	<div class="row">
		<div class="col-sm-6 col-md-3 mt-5">
			<div class="card mb-3 text-center" style="border-color:blue; border-radius: 5px">
				<a href="#"><img src="{% static 'images/flight-icon.jpg' %}" class="card-img-top img-fluid border-rounded" alt="image not found" width="500" style="height: 300px;border-radius: 5px"></a>
				<div class="card-body">
					<font color="blue" style="font-style: Times New Roman; font-size: 25px;" class="card-title">Flights</font></br>
					<font style="font-style: airal">Book your Flights Tickets here.</font>
				</div>
				<a href="#" class="btn btn-primary">Book Now</a>
			</div>
		</div>
		<div class="col-sm-6 col-md-3 mt-5">
			<div class="card mb-3 text-center" style="border-color:blue; border-radius: 5px">
				<a href="#"><img src="{% static 'images/flight-icon.jpg' %}" class="card-img-top img-fluid border-rounded" alt="image not found" width="500" style="height: 300px;border-radius: 5px"></a>
				<div class="card-body">
					<font color="blue" style="font-style: Times New Roman; font-size: 25px;" class="card-title">Flights</font></br>
					<font style="font-style: airal">Book your Flights Tickets here.</font>
				</div>
				<a href="#" class="btn btn-primary">Book Now</a>
			</div>
		</div>
		<div class="col-sm-6 col-md-3 mt-5">
			<div class="card mb-3 text-center" style="border-color:blue; border-radius: 5px">
				<a href="#"><img src="{% static 'images/flight-icon.jpg' %}" class="card-img-top img-fluid border-rounded" alt="image not found" width="500" style="height: 300px;border-radius: 5px"></a>
				<div class="card-body">
					<font color="blue" style="font-style: Times New Roman; font-size: 25px;" class="card-title">Flights</font></br>
					<font style="font-style: airal">Book your Flights Tickets here.</font>
				</div>
				<a href="#" class="btn btn-primary">Book Now</a>
			</div>
		</div>
		<div class="col-sm-6 col-md-3 mt-5">
			<div class="card mb-3 text-center" style="border-color:blue; border-radius: 5px">
				<a href="#"><img src="{% static 'images/flight-icon.jpg' %}" class="card-img-top img-fluid border-rounded" alt="image not found" width="500" style="height: 300px;border-radius: 5px"></a>
				<div class="card-body">
					<font color="blue" style="font-style: Times New Roman; font-size: 25px;" class="card-title">Flights</font></br>
					<font style="font-style: airal">Book your Flights Tickets here.</font>
				</div>
				<a href="#" class="btn btn-primary">Book Now</a>
			</div>
		</div>
	</div>
</div>-->
</body>
{% include 'ta/footer.html' %}
</html>
<script>
function myFunction() {
  var dots = document.getElementById("dots");
  var moreText = document.getElementById("more");
  var btnText = document.getElementById("myBtn");

  if (dots.style.display === "none") {
    dots.style.display = "inline";
    btnText.innerHTML = "show more"; 
    moreText.style.display = "none";
  } else {
    dots.style.display = "none";
    btnText.innerHTML = "show less"; 
    moreText.style.display = "inline";
  }
}
</script>